@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body-bg-color = #edf6f9


html, body
    background body-bg-color
    font-family 'Ubuntu', sans-serif

.wrapper
    margin 0 auto
    max-width 1120px
    padding 1rem
    display flex
    gap 0.5rem